/* LAPTOP PRIKAZ */
@media screen and (max-width: 1280px) {
  .razlozi .sadrzaj img {
    display: none;
  }

  .razlozi .sadrzaj .sekcije {
    margin: auto;
    text-align: center;
  }

  .razlozi .sadrzaj .sekcije .sekcija h3 {
    margin: auto auto 10px auto;
  }

  .lokacija {
    flex-direction: column-reverse;
  }

  .lokacija .sadrzaj {
    text-align: center;
  }
}

/* MOBILNI PRIKAZ */
@media screen and (max-width: 768px) {
  .landing {
    background-position: right;
  }

  .landing .naslovi {
    align-items: start;
    text-align: left;
    margin-inline: 15px;
  }

  .landing .naslovi h1 {
    font-size: 45px;
    line-height: 60px;
  }

  .br-active {
    display: none;
  }

  .razlozi .naslovi {
    margin-inline: 15px;
  }

  .razlozi .naslovi h1 {
    font-size: 30px;
  }

  .razlozi .sekcije .sekcija {
    margin-inline: 15px;
  }

  .iskazi h1 {
    text-align: center;
    font-size: 30px;
  }

  .iskazi .sekcije {
    flex-direction: column;
    gap: 75px;
  }

  .iskazi .sekcije .sekcija .gore .slika svg {
    width: 80px;
    height: 80px;
    right: 10px;
  }

  .lokacija .mapa iframe {
    width: 80vw !important;
    height: 80vw !important;
  }

  .futer h5#futer-pasus {
    width: 70%;
    min-width: 300px;
  }

  .futer .futer-dno {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .futer .futer-dno .social {
    margin-bottom: 40px;
  }
}
