/* LAPTOP PRIKAZ */
@media screen and (max-width: 1280px) {
  .razlozi .sadrzaj img {
    display: none;
  }

  .razlozi .sadrzaj .sekcije {
    margin: auto;
    text-align: center;
  }

  .razlozi .sadrzaj .sekcije .sekcija h3 {
    margin: auto auto 10px auto;
  }

  .lokacija {
    flex-direction: column-reverse;
  }

  .lokacija .sadrzaj {
    text-align: center;
  }

  .uspomene .sadrzaj .paragraf {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .uspomene .sadrzaj .paragraf#drugi {
    flex-direction: column-reverse;
  }

  .uspomene .sadrzaj .paragraf img {
    border-radius: 30px;
  }

  .uspomene .sadrzaj .paragraf p svg#gornji,
  .uspomene .sadrzaj .paragraf p svg#donji {
    display: none;
  }

  .kosmomi .sadrzaj p {
    margin-inline: 25px;
  }

  .kosmomi .sadrzaj img {
    width: 80vw;
    height: 49.72vw;
  }
}

/* MOBILNI PRIKAZ */
@media screen and (max-width: 768px) {
  .landing {
    background-position: right;
  }

  .landing .naslovi,
  .onama .naslovi,
  .destinacije .naslovi,
  .kontakt .naslovi {
    align-items: start;
    text-align: left;
    margin-inline: 15px;
  }

  .landing .naslovi h1,
  .onama .naslovi h1,
  .destinacije .naslovi h1,
  .kontakt .naslovi h1 {
    font-size: 45px;
    line-height: 60px;
  }

  .br-active {
    display: none;
  }

  .razlozi .naslovi,
  .uspomene .naslovi,
  .kosmomi .naslovi,
  .kartice .naslovi {
    margin-inline: 15px;
  }

  .razlozi .naslovi h1,
  .uspomene .naslovi h1,
  .kosmomi .naslovi h1,
  .kartice .naslovi h1 {
    font-size: 30px;
  }

  .razlozi .sekcije .sekcija {
    margin-inline: 15px;
  }

  .iskazi h1 {
    text-align: center;
    font-size: 30px;
  }

  .iskazi .sekcije {
    flex-direction: column;
    gap: 75px;
  }

  .iskazi .sekcije .sekcija .gore .slika svg {
    width: 80px;
    height: 80px;
    right: 10px;
  }

  .lokacija .mapa iframe {
    width: 80vw !important;
    height: 80vw !important;
  }

  .kartice .sekcije {
    grid-template-columns: auto auto;
    grid-template-rows: repeat("auto", 5);
  }

  .futer h5#futer-pasus {
    width: 70%;
    min-width: 300px;
  }

  .futer .futer-dno {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .futer .futer-dno .social,
  .futer .futer-dno .location {
    margin-bottom: 40px;
  }

  .forma form {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .kartice .sekcije {
    grid-template-columns: auto;
    grid-template-rows: repeat("auto", 9);
  }

  .uspomene .sadrzaj .paragraf img {
    width: 80vw;
    height: 100vw;
  }

  .white-popup {
    margin: 20px;
  }

  #destinacija-popup .upit .brOsoba,
  #destinacija-popup .upit .datumOd,
  #destinacija-popup .upit .datumDo {
    justify-content: space-around;
    width: 100%;
  }
}
